body{
  background: url('http://lorempixel.com/1600/800/city/color/');
  background-size: cover;
  background-repeat:  no-repeat;
}
.page{
  .error{
    text-transform: uppercase;
    color: white;
    h1{
      font-size: 5em;
      line-height: 20px;
    }
    h2{
      font-size: 1.5em;
      font-weight: 300;
      i{
        font-size: 0.8em;
      }
    }
    a{
      line-height: 100px;
      font-size: 2em;
      border: 4px white solid;
      padding: 0.8rem 1.5rem;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover{
        text-decoration: none;
        background: white;
        color: grey;
      }
    }
  }
  .inscription{
    border-radius: 20px;
    background-color: rgba(255,255,255,0.4);
    padding: 3rem 5rem;
  }
  .input-group{
    input{
      border-radius: 0;
      border-right: none;
      box-shadow: none;
      transition: border-color ease-in-out 0.25s;

      &:focus {
        border-color: #ccc;
        border-bottom-color: #66afe9;
      }
    }
    .input-group-addon{
      border-radius: 0;
      background: white;
      border-left: none;
      box-shadow: none;
      i{
        opacity: 0.3;
      }
    }
  }
  button.button--wayra{
    background: forestgreen;
    color: white;

    &:hover::before{
      background: greenyellow;
    }
  }
}