$blue: #337ab7;
@font-face {
  font-family: "BebasNeue";
  src: url('../font/BebasNeue.otf') format('opentype');
  src: local('BebasNeue');
}

@font-face {
  font-family: "SignPainter";
  src: url('../font/SignPainter.otf') format('opentype');
  src: local('SignPainter');
}

body {
  &.user {
    background-color: white;
    background: url('../img/utilisateur.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    &.page {
      padding-bottom: 75px;
    }
  }

  &.register {
    background: url('../img/inscription-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }
  &.err404 {
    background: url('../img/404-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.connexion{
    background: url('../img/connexion-min.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.proposer{
    background : white;
    padding-bottom: 10rem;
  }
}

/*/////////////HEADER\\\\\\\\\\\\\\\*/

header {
  font-family: "BebasNeue";
  text-transform: uppercase;
  font-size: 1.3em;

  nav {
    background-color: white !important;
    border-color: white !important;
    background-color: white;
    height: 75px;
    img {
      vertical-align: middle;
      margin-left: 5rem;
    }

    .navbar-toggle {
      border: none;
      background: transparent;
      margin-top: 2rem;
      span {
        background: black !important;
        transition: all ease-in-out 0.2s;
      }

      span:nth-child(2) {
        transform: translateY(-140px);
      }

      span:nth-child(3) {
        transform: rotate(45deg) translateX(-3px);
      }
      span:nth-child(4) {
        transform: rotate(-45deg) translateY(-7px) translateX(3px);
      }

      &.collapsed {
        background: transparent;
        span:nth-child(2) {
          transform: translateY(0px);
        }

        span:nth-child(3) {
          transform: rotate(0deg) translateX(0px);
        }
        span:nth-child(4) {
          transform: rotate(0deg) translateY(0px) translateX(0px);
        }
      }
      &:hover {
        background: transparent !important;
      }
      &:focus {
        background: transparent !important;
      }
    }

    .navbar-collapse {
      @media screen and (max-width: 764px) {
        margin-top: 1.5rem;
        background-color: white;
        border-color: white !important;
      }
    }

    .navbar-right {

      margin-top: 1.5rem;

      li {

        text-align: center;
        margin-right: 5rem;

        @media screen and (max-width: 1040px) {
          margin-right: 1.5rem;
        }
        @media screen and (max-width: 764px) {
          margin-right: 0;
          margin-top: 2rem;
        }

        &:last-child {
          margin-left: 12em;
          @media screen and (max-width: 1040px) {
            margin-left: 2rem;
          }
          @media screen and (max-width: 764px) {
            margin-left: 0rem;
            margin-top: 2rem;
          }
        }

        &:nth-child(3) {
          margin-right: 0;
        }

        a {
          color: black !important;
        }

        button {

          color: white;
          margin-top: 0.4rem;
          font-size: 1em;
          border: none;
          border-radius: 0;
          padding-left: 4rem;
          padding-right: 4rem;
          background-color: $blue;
          transition: all ease-in-out 0.2s;
          &:hover {
            color: white;
            background-color: darken($blue, 10);
          }
        }
      }
    }
  }
}

.page {
  margin-top: 75px;
  .error {
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: white;
    h1 {
      font-size: 8em;
      line-height: 60px;
      margin-left: -3px;
    }
    h2 {
      font-size: 3em;

      font-weight: 300;
      i {
        font-size: 0.6em;
        vertical-align: middle;
      }
    }
    a {
      line-height: 80px;
      font-size: 2.5em;
      border: 6px white solid;
      padding: 0.2rem 2rem;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: none;
        background: white;
        color: grey;
      }
    }
  }
  .pad-element.inscription{
    margin-top: 5rem;
    background-color: rgba(230, 230, 230, 0.7);
  }

  .header{
    background: url("../img/proposer-min.png");
    background-position: bottom;
    background-size: cover;
    font-family: BebasNeue;
    h1{
      margin-top: 15rem;
      margin-bottom:25rem;
      color: white;
      padding: 1rem 2rem;
      border: 4px solid white;
    }
  }

  .inscription {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem 5rem;

    .proposer {
      label{
        margin-top: 1rem;
      }
      p.heure-middle{
        margin-top: 1rem;
      }
    }

    .black-bg{
      a{

        &:hover{
          text-decoration: none;
        }
      }
      
      .weather{
        color: white;
        padding: 2rem 2rem;
        background: deepskyblue;
        margin-bottom: 2rem;
        i{
          font-size: 6rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        img{
          width: 50%;

          @media screen and (max-width: 991px){
            width: 25%;
          }
        }
        p{
          margin-top: 1.7rem;
          font-size: 1.5em;
          span{
            font-size: 2em;
          }
        }
      }

      @media screen and (max-width: 991px){
        margin-top: 5rem;
      }
    }



    form.modif{
      label {
        font-weight: 400;
        &.telephone{
          margin-top: 1.2rem;
        }
      }

      .input-group{
        margin-top: 0.5rem;
      }
      p.changer{
        margin-top: 3rem;
      }

      button.button--wayra::before{
        background: #2882aa;
      }
      button.button--wayra{
        font-size: 1.5rem;
        background: #3399cc;
      }
    }

    h3 {
      font-family: BebasNeue;

    }

    .fancyOu{
      @media screen and (max-width: 964px){
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      &::before{
        margin-bottom: 1rem;
        content: '';
        display: block;
        height: 5rem;
        width: 100%;
        background: url('../img/separator.png');
        background-repeat: repeat-y;
        background-position: center;
        @media screen and (max-width: 964px){
          display: inline-block;
          width: 6rem;
          height: inherit;
          border-top: solid 1px black;
          margin-bottom: 0.5rem;
          margin-right: 1rem;
        }
      }
      &::after{
        margin-top: 1rem;
        content: '';
        display: block;
        height: 5rem;
        width: 100%;
        background: url('../img/separator.png');
        background-repeat: repeat-y;
        background-position: center;
        @media screen and (max-width: 964px){
          width: 6rem;
          display: inline-block;
          height: 0;
          border-top: solid 1px black;
          margin-top: 0;
          margin-bottom: 0.5rem;
          margin-left: 1rem;
        }
      }
    }

    .checkbox{
      margin-top: 1rem;
      &:last-child{
        margin-top: 0.8rem;
      }
      a{
        color: black;
        text-decoration: underline;
        transition: all 0.2s ease;
        &:hover{
          color: #79b42b;
        }
      }

    }

    button{
      margin-top: 2.5rem;
    }
    .input-group {
      margin-top: 2rem;
      input {
        border-radius: 0;
        border-right: none;
        box-shadow: none;
        transition: border-color ease-in-out 0.25s;

        &:focus {
          border-color: #ccc;
          border-bottom: 2px solid #79b42b
        }
      }
      .input-group-addon {
        border-radius: 0;
        background: white;
        border-left: none;
        box-shadow: none;
        i {
          opacity: 0.3;
        }
      }
    }
    .groupButtons{
      width: 100%;
      .button{
        display: inline-block;
      }
      .facebook{
        margin-left: 1rem;
        min-width: 50px;
        width: 1rem;
        background: #4c66a4;
        &:hover::before{
          background: #45538a;
        }
        i{
          color: white;
        }
      }
    }

    .voyages{
      &.cache{
        display:none;
      }
      .elem{
        margin: 0.5rem 0rem;
        .row{
          border-radius: 5px;
          margin-right: 0;
          background: rgba(255,255,255,0.5);
          div:nth-child(2){
            border-right: solid darkgrey 2px;
            border-left: solid darkgrey 2px;
          }
          div:nth-child(3){
            i{
              margin-left: 0.5rem;
            }
          }
          h4::before{
            content:'\f041';
            color: darkgray;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            margin-right: 0.5rem;
          }
          h5.date::before{
            content:"\f073";
            color: darkgray;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            margin-right: 0.5rem;
          }
          h5.heure::before{
            content:"\f017";
            color: darkgray;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .arrow-nav{
      font-size: 2em;
      transition: opacity ease 0.2s;

      .arrow-left{
        display: none;
      }

      &:hover{
        opacity: 0.5;
      }
    }
  }
  button.button--wayra {
    background: #79b42b;
    padding: 1rem;
    width: 30%;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    &:hover::before {
      background: #6da227;
    }
  }

  .connexion{
    a.mdp{
      color: gray;
      text-decoration: none;
      margin-top: 2rem;
      padding: 0;

      @media screen and (max-width: 964px){
        display: block;
        margin-top: 2rem;
      }

      &:hover{
        color: black;
      }
    }
    &.facebook{
      margin-top: 5rem;

      a{
        background: #3b5998;
        padding: 0;
        text-decoration: none;
        i{
          background: #354f88;
          font-size: 2.5rem;
          padding: 1rem 2rem;
          color: white;
        }
        p{
          line-height: 45px;
          vertical-align: middle;
          margin-bottom: 0;
          color: white;
          padding: 0 1rem 0 0;
          font-size: 1.5rem;
          font-weight: 800;
          @media screen and (max-width: 1160px ) and (min-width: 964px) {
            font-size: 1rem;
          }
        }
        &:hover::before {
          background: #354f88;
        }
      }
    }
    .button{
      width: 100%;
    }
    padding-left: 0;
    padding-right: 0;
  }

  div.inscrire{
    p{
      margin-top: 15rem;
      @media screen and (max-width: 964px){
        margin-top: 2rem;
      }
    }
    a{
      color: black;
      text-decoration: none;
      display: block;
      font-family: SignPainter;
      font-size: 2.5rem;
      &::before{
        content:'-';
        margin-right: 1rem;
      }

      &::after{
        content:'-';
        margin-left: 1rem;
      }

      &:hover{
        opacity: 0.5;
      }
    }
  }
}




.file-upload-input {
  display: none;
}

.file-upload-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background: #3399cc;
  transition: all ease 0.2s;
  padding: 0.5rem 1.5rem;

  &:hover{
    background: darken(#3399cc, 5);
  }
}

.amcharts-chart-div a {
  display: none;
}

.inline{
  display: inline-block;
}

.black-bg{
  padding: 3rem;
  background: black;
}

.white{
  color: white;
}

.progress-bar{
  background: #3399cc;
}

body.proposer div.inscription{
  background-color: transparent !important;
}

.noMarginTop{
  margin-top: -75px;
  @media screen and (max-width : 991px) {
    margin-top: 150px;
  }
}