@font-face {
  font-family: "BebasNeue";
  src: url("../font/BebasNeue.otf") format("opentype");
  src: local("BebasNeue"); }

@font-face {
  font-family: "SignPainter";
  src: url("../font/SignPainter.otf") format("opentype");
  src: local("SignPainter"); }

body.user {
  background-color: white;
  background: url("../img/utilisateur.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat; }

body.register {
  background: url("../img/inscription-min.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

body.err404 {
  background: url("../img/404-min.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

body.connexion {
  background: url("../img/connexion-min.png");
  background-size: cover;
  background-repeat: no-repeat; }

body.proposer {
  background: white;
  padding-bottom: 10rem; }

.page .error {
  font-family: "BebasNeue";
  text-transform: uppercase;
  color: white; }
  .page .error h1 {
    font-size: 8em;
    line-height: 60px;
    margin-left: -3px; }
  .page .error h2 {
    font-size: 3em;
    font-weight: 300; }
    .page .error h2 i {
      font-size: 0.6em;
      vertical-align: middle; }
  .page .error a {
    line-height: 80px;
    font-size: 2.5em;
    border: 6px white solid;
    padding: 0.2rem 2rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .page .error a:hover {
      text-decoration: none;
      background: white;
      color: grey; }

.page .pad-element.inscription {
  margin-top: 5rem;
  background-color: rgba(230, 230, 230, 0.7); }

.page .header {
  background: url("../img/proposer-min.png");
  background-position: bottom;
  background-size: cover;
  font-family: BebasNeue; }
  .page .header h1 {
    margin-top: 15rem;
    margin-bottom: 25rem;
    color: white;
    padding: 1rem 2rem;
    border: 4px solid white; }

.page .inscription {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3rem 5rem; }
  .page .inscription .proposer label {
    margin-top: 1rem; }
  .page .inscription .proposer p.heure-middle {
    margin-top: 1rem; }
  .page .inscription .black-bg a:hover {
    text-decoration: none; }
  .page .inscription .black-bg .weather {
    color: white;
    padding: 2rem 2rem;
    background: deepskyblue;
    margin-bottom: 2rem; }
    .page .inscription .black-bg .weather i {
      font-size: 6rem;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .page .inscription .black-bg .weather p {
      margin-top: 1.7rem;
      font-size: 1.5em; }
      .page .inscription .black-bg .weather p span {
        font-size: 2em; }
  @media screen and (max-width: 991px) {
    .page .inscription .black-bg {
      margin-top: 5rem; } }
  .page .inscription form.modif label {
    font-weight: 400; }
    .page .inscription form.modif label.telephone {
      margin-top: 1.2rem; }
  .page .inscription form.modif .input-group {
    margin-top: 0.5rem; }
  .page .inscription form.modif p.changer {
    margin-top: 3rem; }
  .page .inscription form.modif button.button--wayra::before {
    background: #2882aa; }
  .page .inscription form.modif button.button--wayra {
    font-size: 1.5rem;
    background: #3399cc; }
  .page .inscription h3 {
    font-family: BebasNeue; }
  @media screen and (max-width: 964px) {
    .page .inscription .fancyOu {
      margin-top: 2rem;
      margin-bottom: 2rem; } }
  .page .inscription .fancyOu::before {
    margin-bottom: 1rem;
    content: '';
    display: block;
    height: 5rem;
    width: 100%;
    background: url("../img/separator.png");
    background-repeat: repeat-y;
    background-position: center; }
    @media screen and (max-width: 964px) {
      .page .inscription .fancyOu::before {
        display: inline-block;
        width: 6rem;
        height: inherit;
        border-top: solid 1px black;
        margin-bottom: 0.5rem;
        margin-right: 1rem; } }
  .page .inscription .fancyOu::after {
    margin-top: 1rem;
    content: '';
    display: block;
    height: 5rem;
    width: 100%;
    background: url("../img/separator.png");
    background-repeat: repeat-y;
    background-position: center; }
    @media screen and (max-width: 964px) {
      .page .inscription .fancyOu::after {
        width: 6rem;
        display: inline-block;
        height: 0;
        border-top: solid 1px black;
        margin-top: 0;
        margin-bottom: 0.5rem;
        margin-left: 1rem; } }
  .page .inscription .checkbox {
    margin-top: 1rem; }
    .page .inscription .checkbox:last-child {
      margin-top: 0.8rem; }
    .page .inscription .checkbox a {
      color: black;
      text-decoration: underline;
      transition: all 0.2s ease; }
      .page .inscription .checkbox a:hover {
        color: #79b42b; }
  .page .inscription button {
    margin-top: 2.5rem; }
  .page .inscription .input-group {
    margin-top: 2rem; }
    .page .inscription .input-group input {
      border-radius: 0;
      border-right: none;
      box-shadow: none;
      transition: border-color ease-in-out 0.25s; }
      .page .inscription .input-group input:focus {
        border-color: #ccc;
        border-bottom: 2px solid #79b42b; }
    .page .inscription .input-group .input-group-addon {
      border-radius: 0;
      background: white;
      border-left: none;
      box-shadow: none; }
      .page .inscription .input-group .input-group-addon i {
        opacity: 0.3; }
  .page .inscription .groupButtons {
    width: 100%; }
    .page .inscription .groupButtons .button {
      display: inline-block; }
    .page .inscription .groupButtons .facebook {
      margin-left: 1rem;
      min-width: 50px;
      width: 1rem;
      background: #4c66a4; }
      .page .inscription .groupButtons .facebook:hover::before {
        background: #45538a; }
      .page .inscription .groupButtons .facebook i {
        color: white; }
  .page .inscription .voyages.cache {
    display: none; }
  .page .inscription .voyages .elem {
    margin: 0.5rem 0rem; }
    .page .inscription .voyages .elem .row {
      border-radius: 5px;
      margin-right: 0;
      background: rgba(255, 255, 255, 0.5); }
      .page .inscription .voyages .elem .row div:nth-child(2) {
        border-right: solid darkgrey 2px;
        border-left: solid darkgrey 2px; }
      .page .inscription .voyages .elem .row div:nth-child(3) i {
        margin-left: 0.5rem; }
      .page .inscription .voyages .elem .row h4::before {
        content: '\f041';
        color: darkgray;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0.5rem; }
      .page .inscription .voyages .elem .row h5.date::before {
        content: "\f073";
        color: darkgray;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0.5rem; }
      .page .inscription .voyages .elem .row h5.heure::before {
        content: "\f017";
        color: darkgray;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0.5rem; }
  .page .inscription .arrow-nav {
    font-size: 2em;
    transition: opacity ease 0.2s; }
    .page .inscription .arrow-nav .arrow-left {
      display: none; }
    .page .inscription .arrow-nav:hover {
      opacity: 0.5; }

.page button.button--wayra {
  background: #79b42b;
  padding: 1rem;
  width: 30%;
  color: white;
  font-size: 1.8rem;
  font-weight: 800; }
  .page button.button--wayra:hover::before {
    background: #6da227; }

.page .connexion {
  padding-left: 0;
  padding-right: 0; }
  .page .connexion a.mdp {
    color: gray;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0; }
    @media screen and (max-width: 964px) {
      .page .connexion a.mdp {
        display: block;
        margin-top: 2rem; } }
    .page .connexion a.mdp:hover {
      color: black; }
  .page .connexion.facebook {
    margin-top: 5rem; }
    .page .connexion.facebook a {
      background: #3b5998;
      padding: 0;
      text-decoration: none; }
      .page .connexion.facebook a i {
        background: #354f88;
        font-size: 2.5rem;
        padding: 1rem 2rem;
        color: white; }
      .page .connexion.facebook a p {
        line-height: 45px;
        vertical-align: middle;
        margin-bottom: 0;
        color: white;
        padding: 0 1rem 0 0;
        font-size: 1.5rem;
        font-weight: 800; }
        @media screen and (max-width: 1160px) and (min-width: 964px) {
          .page .connexion.facebook a p {
            font-size: 1rem; } }
      .page .connexion.facebook a:hover::before {
        background: #354f88; }
  .page .connexion .button {
    width: 100%; }

.page div.inscrire p {
  margin-top: 15rem; }
  @media screen and (max-width: 964px) {
    .page div.inscrire p {
      margin-top: 2rem; } }

.page div.inscrire a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: SignPainter;
  font-size: 2.5rem; }
  .page div.inscrire a::before {
    content: '-';
    margin-right: 1rem; }
  .page div.inscrire a::after {
    content: '-';
    margin-left: 1rem; }
  .page div.inscrire a:hover {
    opacity: 0.5; }

.file-upload-input {
  display: none; }

.file-upload-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background: #3399cc;
  transition: all ease 0.2s;
  padding: 0.5rem 1.5rem; }
  .file-upload-button:hover {
    background: #2e8ab8; }

.amcharts-chart-div a {
  display: none; }

.inline {
  display: inline-block; }

.black-bg {
  padding: 3rem;
  background: black; }

.white {
  color: white; }

.progress-bar {
  background: #3399cc; }

body.proposer div.inscription {
  background-color: transparent !important; }
